.u-section-1 .u-sheet-1 {
  min-height: 1660px;
}

.u-section-1 .u-text-1 {
  width: 867px;
  font-weight: bold;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 0;
}

.u-section-1 .u-group-1 {
  width: 440px;
  min-height: 52px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 6px 20px 0 11px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 15px 16px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 697px;
  height: 433px;
  object-position: 50% 0%;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 835px;
}

.u-section-1 .u-container-layout-3 {
  padding: 1px 0 5px;
}

.u-section-1 .u-group-2 {
  width: 650px;
  min-height: 53px;
  margin: 1px 488px 0 1px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 6px 20px 0 11px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: justify;
  margin: 6px 389px 0 11px;
}

.u-section-1 .u-image-2 {
  width: 829px;
  height: 724px;
  object-position: 50% 0%;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-shape-1 {
  width: 108px;
  height: 65px;
  background-image: none;
  margin: -692px auto 0 208px;
}

.u-section-1 .u-line-1 {
  width: 531px;
  height: 3px;
  transform-origin: left center;
  border-style: dotted;
  margin: -34px 294px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -17px 21px 0 862px;
}

.u-section-1 .u-shape-2 {
  width: 106px;
  height: 25px;
  background-image: none;
  left: 262px;
  top: 2066px;
  margin: -338px auto 0 264px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-top: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 26px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 7px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 26px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -693px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 684px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 442px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 442px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 629px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -598px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 464px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 335px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 472px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -441px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 242px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 211px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 242px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 297px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -266px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 84px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 234px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1623px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1607px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 63px 15px 0 847px;
}

.u-section-2 .u-image-1 {
  width: 829px;
  height: 750px;
  object-position: 50% 0%;
  margin: -768px auto 0 -7px;
}

.u-section-2 .u-shape-1 {
  width: 346px;
  height: 275px;
  background-image: none;
  margin: -381px auto 0 259px;
}

.u-section-2 .u-shape-2 {
  width: 214px;
  height: 19px;
  background-image: none;
  margin: -272px auto 0 259px;
}

.u-section-2 .u-shape-3 {
  width: 53px;
  height: 16px;
  margin: -35px auto 0 258px;
}

.u-section-2 .u-shape-4 {
  width: 37px;
  height: 35px;
  margin: -16px auto 0 217px;
}

.u-section-2 .u-shape-5 {
  width: 20px;
  height: 15px;
  margin: -15px auto 0 356px;
}

.u-section-2 .u-shape-6 {
  width: 15px;
  height: 15px;
  margin: -27px auto 0 228px;
}

.u-section-2 .u-image-2 {
  width: 807px;
  height: 636px;
  object-position: 50% 0%;
  margin: 476px auto 0 15px;
}

.u-section-2 .u-shape-7 {
  width: 649px;
  height: 54px;
  background-image: none;
  margin: -648px auto 0 25px;
}

.u-section-2 .u-shape-8 {
  width: 690px;
  height: 133px;
  background-image: none;
  margin: 8px auto 0 25px;
}

.u-section-2 .u-shape-9 {
  width: 799px;
  height: 372px;
  background-image: none;
  margin: 92px auto 0 15px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: justify;
  margin: -622px 14px 0 848px;
}

.u-section-2 .u-shape-10 {
  width: 10px;
  height: 10px;
  margin: -1176px auto 1166px 281px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1325px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 662px;
  }

  .u-section-2 .u-shape-5 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 442px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 651px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -282px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 567px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -579px;
  }

  .u-section-2 .u-shape-9 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 262px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 488px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -119px;
    margin-left: 194px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 194px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 425px;
  }

  .u-section-2 .u-shape-7 {
    width: 540px;
    margin-top: -437px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-8 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-9 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 62px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 307px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 62px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 320px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 268px;
  }

  .u-section-2 .u-shape-7 {
    width: 340px;
    margin-top: -280px;
  }

  .u-section-2 .u-shape-8 {
    width: 340px;
  }

  .u-section-2 .u-shape-9 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 62px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 328px;
}

.u-section-3 .u-group-1 {
  width: 650px;
  min-height: 53px;
  margin: 9px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 6px 20px 0 11px;
}

.u-section-3 .u-form-1 {
  height: 156px;
  margin: 21px auto 60px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-form-group-1 {
    margin-right: undefined;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}