{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <h1>
    Please annotate sleep data
  </h1>
{% endblock %}


{% block content %}

<p>
  This is a survey to understand your sleep experiences. The image below is someone's sleep data in the recent week, who
  is at a similar age as you. Please <b>compare with the sleep data in the image and elaborate on your own sleep experience</b> by answering the following questions.
</p>


<img style="width:300px; margin: 10px; padding-right: 20px; padding-top:20px;position:fixed;" src="/download_sleep_data/{{ prolific_id }}">

<form action="" method="post">
  {% csrf_token %}

  <ol style="margin-left: 340px;">
    <li>
      Please check the sleep goal, average sleep time and calculate the time difference between the sleep goal and average sleep time. Then answer the questions in the following.
      <ul>
        <li>
          Relating to your daily routine and energy level, is there any surprising, interesting or encouraging finding?
          <textarea rows="5" id="id_question1" name="question1" required="required"></textarea>
        </li>
        <li>
          Why do you feel it surprising, interesting or encouraging? Please relate to your own sleep experience and tell me more.
          <textarea rows="5" id="id_question2" name="question2" required="required"></textarea>
        </li>
      </ul>
    </li>
    <li>
      Please check the sleep trend and pattern in the bar chart, and answer the questions below.
      <ul>
        <li>
          Relating to your own sleep habit and body condition, is there any surprising/ interesting /encouraging
          finding?
          <textarea rows="5" id="id_question3" name="question3" required="required"></textarea>
        </li>
        <li>
          Why do you feel it surprising, interesting or encouraging? Please relate to your own sleep experience and tell me more.
          <textarea rows="5" id="id_question4" name="question4" required="required"></textarea>
        </li>
      </ul>
    </li>
    <li>
      Please check the latest sleep time and earliest wake-up time in the bar chart. and answer the questions below.
      <ul>
        <li>
          Over the last month, did you ever sleep at this time or wake up at this time? If you did, why did you sleep late or get up early on that day? If you didn't, please tell me why you did not sleep and wake up at this time?
          <textarea rows="5" id="id_question5" name="question5" required="required"></textarea>
        </li>
        <li>
          Is there any other surprising/ interesting /encouraging finding for you?
          <textarea rows="5" id="id_question6" name="question6" required="required"></textarea>
        </li>
        <li>
          Why do you feel it surprising/ interesting /encouraging? Please relate to your own sleep experience and tell me more.
          <textarea rows="5" id="id_question7" name="question7" required="required"></textarea>
        </li>
      </ul>
    </li>

    <input class="button" style="font-size: 18px;" type="submit" value="Next">
</form>

{% endblock %}