{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
<h1>Data Annotation</h1>
{% endblock %}


{% block content %}
<div style="position:absolute">
<img style="width:250px; padding-right: 20px;"
  src="/download_sleep_data/{{ prolific_id }}"><br>
<img src="{% static 'img/bar.png' %}" alt="" style="width:120px;margin:0px;">
</div>

<div style="position:relative">
  <form action="" method="post">
  {% csrf_token %}
  <p style="margin-left: 275px;">
    This task aims at understanding your sleep experiences. {{intro_sentence}}
    The following questions lead you to reflect on <b>your sleep behaviour and elaborate on your sleep experience</b> through an
    exploration of this sleep data. Notice that <b>your answers to all questions below needs to meet the word limit</b>, otherwise you cannot go the next page by clicking the “next” button.
  </p>

  <div style="margin-left: 250px;height: 460px;overflow-y: scroll;">
    <ol>
      <!-- The first question-->
      <li>
        What is your experience in collecting and checking sleep data? For instance, do you keep collecting and checking your sleep data on purpose?
        Or do you collect other types of data (e.g., running data, heartrate data), so you have some experience in understanding data? (at least 20 words)<br>
      </li>
        
       <textarea rows="5" id="id_question6" name="question6" required="required"></textarea>
      
      <li>
        Have a look at the <b>Sleep Goal, Average Time in Bed and Average Time Asleep</b> in the
        screenshot and answer the following questions.
        <!-- The second question-->
        <ul>
          <li>
            Describe what data triggers you. For instance, what data help you recall or realize your past sleep experiences</b> ? Or what data do you find interesting, surprising or encouraging? (at least 20 words)
            <p style="font-size:13px; font-style: italic;">
            Example: The average time in bed (8 hours 4mins) hits the sleep goal (8 hours), although the actual sleep time is 48mins shorter than the goal.
           </p>
          </li>
          <textarea rows="5" id="id_question1" name="question1" required="required"></textarea>
          <li>
          Why does the data trigger you? For instance, what information does the data recall you? Or why do you find the data interesting, surprising or encouraging? Please relate to <b>your sleep experience </b>and tell us more. (at least 40 words)
          <p style="font-size:13px; font-style:italic;">
          Example: Achieving sleep goals has been very difficult for me, even the average sleep time in bed. I am more productive in the evening, so I work after dinner quite often. When I am so engrossed in work, it is hard to immediately stop working and go to bed, even when it is bedtime.
        </li>
          <textarea rows="5" id="id_question2" name="question2" width: required="required"></textarea>
         </ul>
      </li>

      <!-- The third question--> 
      <li>
        Have a look at the <b> sleep trend and pattern in the bar chart </b> answer the following questions.
        <ul>
          <li>
            Describe what data triggers you. For instance, what data help you recall or realize your past sleep experiences? Or what data do you find interesting, surprising or encouraging? (at least 20 words)
          </li>
          <textarea rows="5" id="id_question3" name="question3" required="required"></textarea>
          <li>

            Why does the data trigger you? For instance, what information does the data recall you? Or why do you find the data interesting, surprising or encouraging? Please relate to <b>your sleep experience </b>and tell us more. (at least 40 words)
            </li>
          <textarea rows="5" id="id_question4" name="question4" required="required"></textarea>
           </ul>
      </li>

      <!-- The forth question-->
      <li>
        Have a look at the <b>latest sleep time and earliest wake-up time </b>in the bar chart and answer the following
        questions.
        <ul>
          <li>
            Over the recent month, do you usually sleep at the latest sleep time or earliest wake-up time in the screenshot? If you did,
            what were the reasons for going late to bed or waking up early on that day(s)? If you didn't, please tell us
            why you do not sleep or wake up at these times? Please <b>mention yes or no </b>in the begining of your answer.(at least 40 words)
          </li>
          <textarea rows="5" id="id_question5" name="question5" required="required"></textarea>
        </ul>
      </li>

      <!-- The forth question-->
      <p style="font-size:14px;">
        <b>Notice: If the "next" button do not direct you to the next page, please check your answers and make sure the length of your answer meet the requirements</b>
       </p>


    </ol>
    
  </div>
  
  <div style="float: right;margin-top:10px">
    <input class="button" id="next" type="submit" value="Next" disabled="true">
  </div>

</form>
</div>

<script>
  words = {
    "id_question1": 0,
    "id_question2": 0,
    "id_question3": 0,
    "id_question4": 0,
    "id_question5": 0,
    "id_question6": 0,
  }
  function countWord(event) {
    let res = [];
    let str = event.target.value.replace(/[\t\n\r\.\?\!]/gm, " ").split(" ");
    str.map((s) => {
      let trimStr = s.trim();
      if (trimStr.length > 0) {
        res.push(trimStr);
      }
    });
    words[event.target.id] = res.length;
    enoughWords = true;
    for (const key in words) {
      if (key === "id_question1" || key === "id_question3" || key === "id_question6") {
        if (words[key] < 20) {
          enoughWords = false
        }
      }
      if (key === "id_question2" || key === "id_question4" || key === "id_question5") {
        if (words[key] < 40) {
          enoughWords = false
        }
      }
    }
    if (enoughWords == true) {
      document.getElementById("next").disabled = false;
      console.log('enough words!!')
    }
    else {
      document.getElementById("next").disabled = true;
    }
  }

  
  window.document.querySelector("#id_question1")
    .addEventListener("input", countWord);
  window.document.querySelector("#id_question2")
    .addEventListener("input", countWord);
  window.document.querySelector("#id_question3")
    .addEventListener("input", countWord);
  window.document.querySelector("#id_question4")
    .addEventListener("input", countWord);
  window.document.querySelector("#id_question5")
    .addEventListener("input", countWord);
  window.document.querySelector("#id_question6")
    .addEventListener("input", countWord);
</script>

{% endblock %}