{% extends 'base_generic.html' %} 
{% load static %}


{% block title %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
  <p class="p0"> Welcome to our apple sleep data annotation task</p>
</head>
{% endblock %}



{% block content %}

  <div class=title_box>
    <span style="font-size: 24px;font-family: Arial, Helvetica, sans-serif;color: white;">Are you the one we are looking for?</span>
  </div>

<p class="p2">To complete this survey, we expect :</p>
  <ul>
  <li>
    <p class="p2"> You have collected and checked your sleep data in recent 3months.</p>
  </li>
  <li>
    <p class="p2"> You are over 18 years old.</p>
  </li>
  <li>
    <p class="p2"> You are English native speaker.</p>
  </li>

  </ul>
</p>
  <p class="p2">​Notice that you will<span style="font-weight: 700;"> not be able to complete this survey and get commission</span> if you do not meet those requirements.
  </p>

<p class="p2">
  If you are the person we are looking for, please click the following button!
</p>
<a href= "informed_consent/?PROLIFIC_ID={{prolific_id}}" class="button"> <span style="font-size: 18px;">I meet the requirements!</span></a>

<p class="p0">
  
</p>
{% endblock content %}
