{% extends 'base_generic.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <h1>Welcome to the Sleep Annotator!</h1>
{% endblock %}

{% block content %}

<h2>
  Are you the one we are looking for?
</h2>

<p>
  To complete this task, we expect:
</p>
<ul>
  <li>
    You are an active Apple Health user who collected sleep data <b>in the past weeks;</b>
  </li>
  <li>
    You use <b>a wearable device</b>(e.g., Apple watch, Garmin watch) to collect sleep data.
  </li>
</ul>

<p>
  Please open your Apple Health App and check your sleep data carefully. Notice that <b>you won't be able to complete
    this survey and get commission</b> if you do not meet these requirements.
</p>

<div style="text-align: center;">
  <img src="{% static 'img/apple_health.png' %}" alt="" style="width:200px;margin:20px;">
  <img src="{% static 'img/find_sleep_data.png' %}" alt="" style="width:200px;margin:20px;">
  <img src="{% static 'img/sleep_data_example.jpg' %}" alt="" style="width:200px;margin:20px;">
</div>

<p>
  If you are the person we are looking for, please click on the following button to proceed!
</p>

<a href="informed_consent/?PROLIFIC_ID={{prolific_id}}" class="button">
  <span style="font-size: 18px;">
    I meet the requirements!
  </span>
</a>

{% endblock content %}