{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
  <h1>Welcome to the Sleep Annotator!</h1>
{% endblock %}

{% block content %}
<h2>
  Are you the one we are looking for?
</h2>

<p>
  To complete this task, we expect that:
</p>
<ul>
  <li>
    you have Apple sleep data of <b> the entire past week;</b>
  </li>
  <li>
    you use a <b>wearable device</b> (e.g., Apple Watch, Garmin watch) to collect sleep data, which helps you generate a bar chart with <b>different shades of green</b> according to your sleep pattern (see example on the screenshot below on the right);
  </li>
  <li>
    You are over 18 years old;
  </li>
  <li>
    You are English native speaker.
  </li>
</ul>

<p>
  Please open your Apple Health App and check your sleep data carefully. Notice that <b>you won't be able to complete this task and receive your commission</b> if you do not meet these requirements.
</p>

<div style="text-align: center;">
  <img src="{% static 'img/instruction_index.png' %}" alt="" style="width:900px;margin:0px;">

</div>

<p>
  The following are screenshot that do not meet our requirements. If you upload the the wrong screenshot, you will need to return your submission, otherwise we will reject it.
</p>
<div style="text-align: center;">
  <img src="{% static 'img/wrong_screenshot_examples-02.png' %}" alt="" style="width:800px;margin:20px;">

</div>

<p>
  If you are the person we are looking for, you can click on the following button to proceed!
</p>

<a href="informed_consent/?PROLIFIC_ID={{prolific_id}}" class="button">
    I meet the requirements!
</a>

{% endblock content %}