{% extends 'base_generic.html' %}
{% load static %}


{% block header %}
  <h1>Welcome to the Apple sleep data annotation task!</h1>
{% endblock %}



{% block content %}

<h2>
  Are you the one we are looking for?</span>
</h2>

<p>To complete this task, we expect that:</p>
<ul>
  <li>
    you are over 18 years old;
  </li>
  <li>
    you are English native speaker.
  </li>
</ul>
</p>

<p>
  Notice that <b>you won't be able to complete this task and receive your commission</b> if you do not meet these requirements.
</p>

<p>
  If you are the person we are looking for, you can click on the following button to proceed!
</p>
<a href="informed_consent/?PROLIFIC_ID={{prolific_id}}" class="button">
  I meet the requirements!
</a>

{% endblock content %}