{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
  <h1>Informed consent</h1>
{% endblock %}

{% block content %}

By taking on this task, you will participate in a scientific study in the context of sleep behaviour led by the TU
    Delft researcher Di Yan, under the supervision of Dr Jacky Bourgeois and Prof. Gerd Kortuem. Your participation is
    voluntary, and you can withdraw at any time. 
<main>
  <h2>
    Are you the one we are looking for?
  </h2>
  
  <p>
    We are looking for participants collect <b>Apple sleep data</b> on purpose to understand their sleep behaviour. To complete the task, we expect that you:
  </p>
  <ul>
    <li>
      you have Apple sleep data of <b> the entire past week;</b>
    </li>
    <li>
      you collected <b>AVERAGE TIME ALEEP</b> data in your sleep data, which helps you generate a bar chart with <b>TWO GREEN SHADOWS</b> according to your sleep pattern (see example on the screenshot below);
      </li>
    <li>
      you are over 18 years old;
    </li>
    <li>
      you are an English native speaker.
    </li>
  </ul>
  Notice: 
  <ul>
    <li>If you upload the required screenshot, we will invite you to participate the follow-up study to interpret your sleep data. Once you complete both studies, we will <b style="color: rgba(255, 0, 0, 0.652);"> PAY YOU THREE TIMES MORE AS BONUS </b> for the current experiment.
    <li>If you do not upload the required screenshot, <b>you will not be able to complete the current study and receive full commission.</b></li>
  </ul>

  
  <div style="text-align: center;">
    <img src="{% static 'img/screenshot_example_black.png' %}" alt="" style="width:223px;margin:5px;">
    <img src="{% static 'img/sleep_data_example.png' %}" alt="" style="width:400px;margin:5px;">
  </div>
  
  <p>
    The following are examples of the screenshots that do not meet our requirements.
  </p>
  <div style="text-align: center;">
    <img src="{% static 'img/wrong_screenshot_examples-02.png' %}" alt="" style="width:1000px;position:left;margin:0px;">
  
  </div>

  <h2>
      What task will you perform?
  </h2>
  
  <p>To complete this task, we will ask you to open your Apple Health App to capture and upload a screenshot of your sleep data over the past week. The whole task will take you approximately <b>2 minutes</b> to complete.</p>
  
  
  <h2>
    How do we protect your data?
  </h2>
  
  <p>We protect your data in the following ways:</p>
  <ul>
    <li>
        We collect anonymous information (your answer to the questions) using your Prolific ID as unique reference.
    </li>
    <li>
        We provide you with detailed instructions to take appropriate screenshots that exclude your personal information. <b>Please follow the instructions carefully.</b>
    </li>
    <li>
        At the reception of your data, we will scan through your screenshot and answers to remove any remaining identifyable information (e.g. bluring part of a screenshot, removing part of your textual contribution).
    </li>
    <li>
        We will <b>share the annonymised version of your screenshot with crowd-workers</b> for interpretation and reflection tasks. All other information will be accessible only by the researcher and her supervisors.
    </li>
    <li>
        We store all data on a password-protected, encrypted server hosted by the TU Delft.
    </li>
  </ul>
  
  
  <form action="" method="post">
    {% csrf_token %}
    <p>
      <input type="checkbox" id="id_consent" name="consent" required />
      <label for="id_consent">I read and agree with these terms.</label>
    </p>
    <p>
      <input type="submit" class="button" Style="font-size: 20px;" value="Start the task">
    </p>
  </form>
</main>

{% endblock content %}