{% extends 'base_generic.html' %} 
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
  <p class="p0"> Please check the informed consent</p>
</head>
{% endblock %}

{% block content %}

<div class=title_box>
  <span style="font-size: 24px;font-family: Arial, Helvetica, sans-serif;color: white;">Are you the one we are looking for?</span>
</div>

<p class="p2">You are being invited to scientific research around sleep experiences.&nbsp;Your participation is completely voluntary, and you can withdraw it at any time.To complete this survey, we expect :</p>
  <ul>
  <li>
      <p class="p2">You have collected and check your sleep data in recent three months.
  </li>
  <li>
    <p class="p2"> You are over 18 years old. </p>
  </li>
  
  <li>
    <p class="p2"> You are English native speaker</p>
  </li>
  </ul>
  <p class="p2"> Notice that you will<span style="font-weight: 700;"> not be able to complete this survey and get commission</span> if you do not meet those requirements. </p>


<div class=title_box>
  <span style="font-size: 24px;font-family: Arial, Helvetica, sans-serif;color: white;">What task will you do?</span>
</div>
<p class="p2">You will be invited to do the following tasks:</p>
<ul>
  <li><p class="p2"> Check other's sleep data who are at your age.</p></li>
  <li><p class="p2"> Reflect on others' sleep data and answer questions to elaborate on your sleep experiences in text format.​</p></li>
</ul>
<p class="p2"> The whole task will take you approximately <span style="font-weight: 700"> 20 minutes </span>  to complete.</p>

<div class=title_box>
  <span style="font-size: 24px;font-family: Arial, Helvetica, sans-serif;color: white;">How do we protect your data?</span>
</div>

<p class="p2">We protect your data in the following ways:</p>
<ul >
  <li><p class="p2">We design this survey to be anonymous, where all identifying information is
removed and replaced with your Prolific ID.</p></li>
  <li><p class="p2">If any identifying information is collected, we will delete it immediately before storing.</p></li>
  <li><p class="p2">We will store all data on a password-protected, encrypted computer and server,and data will only be accessed by our research group members.</p></li>
</ul>


<form action="" method="post">
    {% csrf_token %}
    <label for="id_consent"><span style="font-size: 18px;font-family:Arial, Helvetica, sans-serif;">I agree</span></label>
    <input type="checkbox" id="id_consent" name="consent" required /> <br>
    <input type="submit" class= "button" style= "font-size: 18px;" value="Agree and Start">
</form>
<p class="p0">   </p>

{% endblock content %}


