{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
  <h1>
    Informed consent
  </h1>
{% endblock %}

{% block content %}
By taking on this task, you will participate in a scientific study in the context of sleep behaviour led by the TU
  Delft researcher Di Yan, under the supervision of Dr Jacky Bourgeois and Prof. Gerd Kortuem. Your participation is voluntary, and you can withdraw at any time. 
<h2>
  Are you the one we are looking for?
</h2>
To complete this task, we expect that:
<ul>
  <li>
    you are over 18 years old;
  </li>
  <li>
    you are an English native speaker.
  </li>
</ul>
  Notice that <b>you won't complete this task and receive your commission</b> if you do not meet these requirements.
</p>


<h2>
  What task will you perform?
</h2>

<p>To complete this task, we will ask you to:</p>
<ul>
  <li>
    {{intro_sentence}}
  </li>
  <li>
    reflect on the sleep data and elaborate on your sleep experiences by answering a series of questions in written form.
  </li>
</ul>

<p>The whole task will take you approximately <b>15 minutes</b> to complete.</p>

<h2>
  How do we protect your data?
</h2>

<p>We protect your data in the following ways:</p>
<ul>
  <li>
    We designed this task to collect anonymous information using your Prolific ID as unique reference.
  </li>
  <li>
    At the reception of your data, we will scan through your answers to remove any remaining identifyable information (e.g. removing part of your textual contribution).
  </li>
  <li>
    We store all data on a password-protected, encrypted server hosted by the TU Delft.
  </li>
</ul>

<form action="" method="post">
  {% csrf_token %}
  <p>
    <input type="checkbox" id="id_consent" name="consent" required />
    <label for="id_consent">I read and agree with these terms.</label>
  </p>
  <p>
    <input type="submit" class="button" value="Start the task">
  </p>
</form>

{% endblock content %}