{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
  <h1>Please upload a screenshot of your apple sleep data</h1>
{% endblock %}


{% block content %}
<h2>
  Capure a screenshot of your sleep data
</h2>
<p>
  Please follow the following instruction to capture a screenshot of your Apple sleep data.
</p>

<h3>
  Step 1: Find and open the Health app on your iPhone
</h3>
<img src="{% static 'img/apple_health.png' %}" alt="" style="width:200px;margin:20px;">

<h3>
  Step 2: Press Sleep
</h3>
<img src="{% static 'img/upload-step2.png' %}" alt="" style="width: 300px;">

<h3>
  Step 3: Press "Show More Sleep Data"
</h3>

<img src="{% static 'img/upload-step3.png' %}" alt="" style="width: 300px;">

<h3>
  Step 4: Capture the screenshot on this page
</h3>

<p>
  The screenshot must cover all the information framed in the red rectangle.
</p>

<img src="{% static 'img/upload-step4.png' %}" alt="" style="width: 300px;">

<h2>
  Upload the screenshot
</h2>

<p>
  Please transfer the screenshot from your phone to your computer via AirDrop or your prefered approach. Then, locate the screenshot on your computer and upload it via the following form to move on to the next step.
</p>
<form action="" method="post" enctype="multipart/form-data" class="button2">
  {% csrf_token %}
  <input id="id_screenshot_strava_workout" type="file" name="screenshot_sleep_data">
  <input type="submit" class="button" value="Upload">
</form>

{% endblock content %}