{% extends 'base_generic.html' %}
{% load static %}

{% block header %}
  <h1>Please upload a screenshot of your apple sleep data</h1>
{% endblock %}


{% block content %}
<h2>
  Capure a screenshot of your sleep data
</h2>
<p>
  Please follow the following instruction to capture a screenshot of your Apple sleep data.
</p>

<h3>
  Step 1: Find and open the Health app on your iPhone
</h3>
<img src="{% static 'img/apple_health.png' %}" alt="" style="width:200px;margin:20px;">

<h3>
  Step 2: Press Sleep
</h3>
<img src="{% static 'img/upload-step2.png' %}" alt="" style="width: 250px;">

<h3>
  Step 3: Press "Show More Sleep Data"
</h3>

<img src="{% static 'img/upload-step3.png' %}" alt="" style="width: 250px;">

<h3>
  Step 4: Capture the screenshot on this page
</h3>

<p>
  The screenshot must cover all the information framed in the red rectangle.
</p>

<img src="{% static 'img/upload-step4.png' %}" alt="" style="width: 400px;">

<p>
  If you don't know how to make a screenshot, please find your iphone type in the image below and press the two buttons in the red rectangular at same time.
</p>
<img src="{% static 'img/screenshots_instruction.jpg' %}" alt="" style="width: 700px;">

<h2>
  Upload the screenshot
</h2>

<p>
  If you are doing the task on your computer, here are some instructions to help you transfer the screenshot from your phone to your computer via AirDrop or your prefered approach. 
</p>

<img src="{% static 'img/transfer.jpg' %}" alt="" style="width: 900px;">


<p>
Please upload your screenshot in the following area to move on to the next step.
</p>
<form action="" method="post" enctype="multipart/form-data" class="button2">
  {% csrf_token %}
  <input id="id_screenshot_strava_workout" type="file" name="screenshot_sleep_data">
  <input type="submit" class="button" style="font-size: 20px" value="Upload">
</form>

{% endblock content %}