{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<p>Your Strava workout screenshot:</p>

<div style="text-align: center;">
    <img style="width: 70%;" src="/annotator/download_strava_workout/{{ prolific_id }}" >
</div>


<form action="" method="post">
    {% csrf_token %}
    <p>Information from the screenshot</p>
    <label for="moving_time">Moving Time:</label>
    <input id="moving_time_min" name="moving_time_min" type="number" value="0" min="0" required /> minutes
    <input id="moving_time_sec" name="moving_time_sec" type="number" value="0" min="0" max="59" required /> seconds<br>
    <label for="distance">Distance:</label>
    <input id="distance" name="distance" type="number" required /><br>
    <label for="pace">Pace:</label>
    <input id="pace" name="pace" type="number" required /><br>
    <label for="time">Time:</label>
    <input id="time" name="time" type="number" required /><br>
    <label for="calories">Calories:</label>
    <input id="calories" name="calories" type="number" required /><br>
    <hr>
    <p>Annotations</p>
    <label for="id_question1">Question 1: ...</label><br>
    <textarea id="id_question1" name="question1" required></textarea><br>
    <label for="id_question2">Question 2: ...</label><br>
    <textarea id="id_question2" name="question2" required></textarea><br>
    <label for="id_question3">Question 3: ...</label><br>
    <textarea id="id_question3" name="question3" required></textarea><br>
    <label for="id_question4">Question 4: ...</label><br>
    <textarea id="id_question4" name="question4" required></textarea><br>
    <label for="id_question5">Question 5: ...</label><br>
    <textarea id="id_question5" name="question5" required></textarea><br>
    <hr>
    <input type="submit" value="Next">
</form>

{% endblock %}